<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="MyDailyListAlphaV01.MyDailyListAlphaV01" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="My Daily List" android:icon="@drawable/icon"></application>
</manifest>